:root {

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #434455;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}


.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;

}

.menu {
    align-items: center;
    display: flex;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo__text {
    color: #2E2F42;
}

.menu__list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.menu__item {
    padding: 24px 0;
}

.menu__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.menu__link:hover {
    color: #404BBF;
}

.menu__link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.contact__list {
    list-style: none;
    display: flex;
    gap: 40px
}

.contact__item {
    padding: 24px 0;
}

.contact__link {
    text-decoration: none;
    color: #434455;
}

.contact__link:focus {
    color: #404BBF;
}

.contact__link:hover {
    color: #404BBF;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero__title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.preference__title {

}

.preference__list {
    list-style: none;
    display: flex;
}

.preference__item:not(:last-child) {
    margin-right: 24px;
}

.preference__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.preference__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.portfolio {
    padding: 96px 0 120px
}

.portfolio__title {

}

.portfolio__filter {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio__btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.portfolio__btn:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfolio__btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfolio__content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio__item {

}

.portfolio__link {
    text-decoration: none;
}


.portfolio__info {

}

.portfolio__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.services__title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.services__content {
    list-style: none;
    display: flex;
}

.services__item:not(:last-child) {
    margin-right: 24px;
}

.team {
    background-color: #F4F4FD ;
}

.team__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px; 
}

.team__list {
    list-style: none;
    display: flex;
}

.team__item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    margin-right: 24px;
}

.team__img {

}

.team__card {
    padding: 32px 16px;
    text-align: center;
}

.team__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team__position {

}

.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo__text-footer {
    color: #F4F4FD;
}

.footer__text {
    color: #F4F4FD;
}
